<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RealtyWeb</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="styles/main.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
	</style>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css"/>

</head>

<body>
	<div class="fon">
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  1   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="heading">
		<div class="wrapper">
			@@include("../blocks/modules/header/header.html")
			<h1 class="heading__h1">Жилой комплекс HOMEFOR  - это жизнь с комфортом</h1>
			<p class="heading__text">Мы охватываем все важные этапы проектирование и строительство дома, а также повседневная эксплуатация после окончания строительства.</p>
			<button class="heading__btn">подробнее</button>
			<div class="heading-dot">
				<div class="heading-dot__item-active heading-dot__item--active"></div>
				<div class="heading-dot__item"></div>
				<div class="heading-dot__item"></div>
			</div>
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  2   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="filter">
		<div class="filter-wrap">
			<div class="filter-wrap-box1">
				<div class="filter-wrap-box1__text">Тип объекта</div>
				<div class="filter-wrap-box1__img"></div>
			</div>
			<div class="filter-wrap-box2">
				<div class="filter-wrap-box2__text">Район</div>
				<div class="filter-wrap-box2__img"></div>
			</div>
			<div class="filter-wrap-box3">
				<div class="filter-wrap-box3__text">Площадь</div>
			</div>
			<div class="filter-wrap-box4">
				<div class="filter-wrap-box4__item"></div>
				<div class="filter-wrap-box4__text">м2</div>
			</div>
			<div class="filter-wrap-box5">
				<div class="filter-wrap-box5__text">Цена за м2</div>
			</div>
			<div class="filter-wrap-box6">
				<div class="filter-wrap-box6__item"></div>
				<div class="filter-wrap-box6__text">тыс.</div>
			</div>
			<div class="filter-wrap-box7">
				<!--  -->
				<div class="range1">
					<input type="range" id="r1" oninput="fun1()" min="0" max="358" value="120">
					<div id="line1"></div>
				 </div>
				 <br>
				 <input class="filter-wrap-box7__text2" type="text" id="i1" value="120">
				<!--  -->
				<!-- <div class="filter-wrap-box7__item1"></div> -->
				<!-- <div class="filter-wrap-box7__item2"></div> -->
				<div class="filter-wrap-box7__item3"></div>
				<!-- <div class="filter-wrap-box7__item4"></div> -->
				<div class="filter-wrap-box7__text1">0</div>
				<!-- <div  class="filter-wrap-box7__text2">120</div> -->
				<div class="filter-wrap-box7__text3">1 000</div>
			</div>
			<div class="filter-wrap-box8">
				<!--  -->
				<div class="range2">
					<input type="range" id="r2" oninput="fun2()" min="0" max="358" value="50">
					<div id="line2"></div>
				 </div>
				 <br>
				 <input class="filter-wrap-box8__text2" type="text" id="i2" value="10350">
				<!--  -->
				<!-- <div class="filter-wrap-box8__item1"></div> -->
				<!-- <div class="filter-wrap-box8__item2"></div> -->
				<div class="filter-wrap-box8__item3"></div>
				<!-- <div class="filter-wrap-box8__item4"></div> -->
				<div class="filter-wrap-box8__text1">0</div>
				<!-- <div class="filter-wrap-box8__text2">10 350</div> -->
				<div class="filter-wrap-box8__text3">98 000</div>
			</div>
			<div class="filter-wrap-box9">
				<div class="filter-wrap-box9__text">Сбросить фильтры</div>
				<div class="filter-wrap-box9__img"></div>
			</div>
			<div class="filter-wrap-box10">
				<div class="filter-wrap-box10__text">ПОКАЗАТЬ</div>
			</div>
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  3   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="suburban">
		<div class="wrapper">
			<h2 class="title">Загородные дома</h2>
			<div class="suburban-wrap">
				<div class="suburban-wrap-box1">
					<div class="suburban-wrap-box1__text1">Наши дома расположились в уютных районах Екатеринбурга:</div>
					<div class="suburban-wrap-box1__text2">Верх-Исетский район, Железнодорожный район, Чкаловский район.</div>
				</div>
				<div class="suburban-wrap-box2">
					<div class="suburban-wrap-box2__item1"></div>
					<div class="suburban-wrap-box2__item2"></div>
					<div class="suburban-wrap-box2__img1"></div>
					<div class="suburban-wrap-box2__img2"></div>
				</div>
				<!--  -->
				<div class="slider1">
					<div>
						<div class="suburban-wrap-box3">
							<div class="suburban-wrap-box3__text1">Дом “Брусника”</div>
							<div class="suburban-wrap-box3__text2">ул. Карла Маркса, 60,</div>
							<div class="suburban-wrap-box3__text3">200 м2</div>
							<div class="suburban-wrap-box3__text4">10 сот</div>
							<div class="suburban-wrap-box3__text5">с отделкой</div>
							<div class="suburban-wrap-box3__text6">7 005 456 500 ₽</div>
							<div class="suburban-wrap-box3__img1"></div>
							<div class="suburban-wrap-box3__img2"></div>
							<div class="suburban-wrap-box3__img3"></div>
							<div class="suburban-wrap-box3__img4"></div>
							<div class="suburban-wrap-box3__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box4">
							<div class="suburban-wrap-box4__text1">Дом “Трендис”</div>
							<div class="suburban-wrap-box4__text2">ул. Урицкого, 13,</div>
							<div class="suburban-wrap-box4__text3">500 м2</div>
							<div class="suburban-wrap-box4__text4">12 сот</div>
							<div class="suburban-wrap-box4__text5">с отделкой</div>
							<div class="suburban-wrap-box4__text6">10 000 234 500 ₽</div>
							<div class="suburban-wrap-box4__img1"></div>
							<div class="suburban-wrap-box4__img2"></div>
							<div class="suburban-wrap-box4__img3"></div>
							<div class="suburban-wrap-box4__img4"></div>
							<div class="suburban-wrap-box4__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box5">
							<div class="suburban-wrap-box5__text1">Дома “Панорома”</div>
							<div class="suburban-wrap-box5__text2">ул. Толстого, 340, Екатеринбург</div>
							<div class="suburban-wrap-box5__text3">150 м2</div>
							<div class="suburban-wrap-box5__text4">13 сот</div>
							<div class="suburban-wrap-box5__text5">с отделкой</div>
							<div class="suburban-wrap-box5__text6">5 045 000 500 ₽</div>
							<div class="suburban-wrap-box5__img1"></div>
							<div class="suburban-wrap-box5__img2"></div>
							<div class="suburban-wrap-box5__img3"></div>
							<div class="suburban-wrap-box5__img4"></div>
							<div class="suburban-wrap-box5__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box3">
							<div class="suburban-wrap-box3__text1">Дом “Брусника”</div>
							<div class="suburban-wrap-box3__text2">ул. Карла Маркса, 60,</div>
							<div class="suburban-wrap-box3__text3">200 м2</div>
							<div class="suburban-wrap-box3__text4">10 сот</div>
							<div class="suburban-wrap-box3__text5">с отделкой</div>
							<div class="suburban-wrap-box3__text6">7 005 456 500 ₽</div>
							<div class="suburban-wrap-box3__img1"></div>
							<div class="suburban-wrap-box3__img2"></div>
							<div class="suburban-wrap-box3__img3"></div>
							<div class="suburban-wrap-box3__img4"></div>
							<div class="suburban-wrap-box3__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box4">
							<div class="suburban-wrap-box4__text1">Дом “Трендис”</div>
							<div class="suburban-wrap-box4__text2">ул. Урицкого, 13,</div>
							<div class="suburban-wrap-box4__text3">500 м2</div>
							<div class="suburban-wrap-box4__text4">12 сот</div>
							<div class="suburban-wrap-box4__text5">с отделкой</div>
							<div class="suburban-wrap-box4__text6">10 000 234 500 ₽</div>
							<div class="suburban-wrap-box4__img1"></div>
							<div class="suburban-wrap-box4__img2"></div>
							<div class="suburban-wrap-box4__img3"></div>
							<div class="suburban-wrap-box4__img4"></div>
							<div class="suburban-wrap-box4__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box5">
							<div class="suburban-wrap-box5__text1">Дома “Панорома”</div>
							<div class="suburban-wrap-box5__text2">ул. Толстого, 340, Екатеринбург</div>
							<div class="suburban-wrap-box5__text3">150 м2</div>
							<div class="suburban-wrap-box5__text4">13 сот</div>
							<div class="suburban-wrap-box5__text5">с отделкой</div>
							<div class="suburban-wrap-box5__text6">5 045 000 500 ₽</div>
							<div class="suburban-wrap-box5__img1"></div>
							<div class="suburban-wrap-box5__img2"></div>
							<div class="suburban-wrap-box5__img3"></div>
							<div class="suburban-wrap-box5__img4"></div>
							<div class="suburban-wrap-box5__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box3">
							<div class="suburban-wrap-box3__text1">Дом “Брусника”</div>
							<div class="suburban-wrap-box3__text2">ул. Карла Маркса, 60,</div>
							<div class="suburban-wrap-box3__text3">200 м2</div>
							<div class="suburban-wrap-box3__text4">10 сот</div>
							<div class="suburban-wrap-box3__text5">с отделкой</div>
							<div class="suburban-wrap-box3__text6">7 005 456 500 ₽</div>
							<div class="suburban-wrap-box3__img1"></div>
							<div class="suburban-wrap-box3__img2"></div>
							<div class="suburban-wrap-box3__img3"></div>
							<div class="suburban-wrap-box3__img4"></div>
							<div class="suburban-wrap-box3__img5"></div>
						</div>
					</div>
					<div>
						<div class="suburban-wrap-box4">
							<div class="suburban-wrap-box4__text1">Дом “Трендис”</div>
							<div class="suburban-wrap-box4__text2">ул. Урицкого, 13,</div>
							<div class="suburban-wrap-box4__text3">500 м2</div>
							<div class="suburban-wrap-box4__text4">12 сот</div>
							<div class="suburban-wrap-box4__text5">с отделкой</div>
							<div class="suburban-wrap-box4__text6">10 000 234 500 ₽</div>
							<div class="suburban-wrap-box4__img1"></div>
							<div class="suburban-wrap-box4__img2"></div>
							<div class="suburban-wrap-box4__img3"></div>
							<div class="suburban-wrap-box4__img4"></div>
							<div class="suburban-wrap-box4__img5"></div>
						</div>
					</div>
				 </div>
				<!--  -->
				<!-- <div class="suburban-wrap-box3">
					<div class="suburban-wrap-box3__text1">Дом “Брусника”</div>
					<div class="suburban-wrap-box3__text2">ул. Карла Маркса, 60,</div>
					<div class="suburban-wrap-box3__text3">200 м2</div>
					<div class="suburban-wrap-box3__text4">10 сот</div>
					<div class="suburban-wrap-box3__text5">с отделкой</div>
					<div class="suburban-wrap-box3__text6">7 005 456 500 ₽</div>
					<div class="suburban-wrap-box3__img1"></div>
					<div class="suburban-wrap-box3__img2"></div>
					<div class="suburban-wrap-box3__img3"></div>
					<div class="suburban-wrap-box3__img4"></div>
					<div class="suburban-wrap-box3__img5"></div>
				</div>
				<div class="suburban-wrap-box4">
					<div class="suburban-wrap-box4__text1">Дом “Трендис”</div>
					<div class="suburban-wrap-box4__text2">ул. Урицкого, 13,</div>
					<div class="suburban-wrap-box4__text3">500 м2</div>
					<div class="suburban-wrap-box4__text4">12 сот</div>
					<div class="suburban-wrap-box4__text5">с отделкой</div>
					<div class="suburban-wrap-box4__text6">10 000 234 500 ₽</div>
					<div class="suburban-wrap-box4__img1"></div>
					<div class="suburban-wrap-box4__img2"></div>
					<div class="suburban-wrap-box4__img3"></div>
					<div class="suburban-wrap-box4__img4"></div>
					<div class="suburban-wrap-box4__img5"></div>
				</div>
				<div class="suburban-wrap-box5">
					<div class="suburban-wrap-box5__text1">Дома “Панорома”</div>
					<div class="suburban-wrap-box5__text2">ул. Толстого, 340, Екатеринбург</div>
					<div class="suburban-wrap-box5__text3">150 м2</div>
					<div class="suburban-wrap-box5__text4">13 сот</div>
					<div class="suburban-wrap-box5__text5">с отделкой</div>
					<div class="suburban-wrap-box5__text6">5 045 000 500 ₽</div>
					<div class="suburban-wrap-box5__img1"></div>
					<div class="suburban-wrap-box5__img2"></div>
					<div class="suburban-wrap-box5__img3"></div>
					<div class="suburban-wrap-box5__img4"></div>
					<div class="suburban-wrap-box5__img5"></div>
				</div> -->
			</div>
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  4   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="urban">
		<div class="wrapper">
			<h2 class="title">Городские квартиры</h2>
			<div class="urban-wrap">
				<div class="urban-wrap-box1">
					<div class="urban-wrap-box1__text1">В каталоге квартир вы найдете актуальные планировки и цены.</div>
					<div class="urban-wrap-box1__text2">Это те квартиры, которые есть в продаже сейчас.</div>
				</div>
				<div class="urban-wrap-box3">
					<div class="urban-wrap-box3__text1">Дом “Жуковка”</div>
					<div class="urban-wrap-box3__text2">ул. Карла Маркса, 60,</div>
					<div class="urban-wrap-box3__text3">72 м2</div>
					<div class="urban-wrap-box3__text5">с отделкой</div>
					<div class="urban-wrap-box3__text6">3 006 435 500 ₽</div>
					<div class="urban-wrap-box3__img1"></div>
					<div class="urban-wrap-box3__img2"></div>
					<div class="urban-wrap-box3__img3"></div>
					<div class="urban-wrap-box3__img5"></div>
				</div>
				<div class="urban-wrap-box4">
					<div class="urban-wrap-box4__text1">Дом “Парашют”</div>
					<div class="urban-wrap-box4__text2">ул. Зорге, 160,</div>
					<div class="urban-wrap-box4__text3">112 м2</div>
					<div class="urban-wrap-box4__text5">с отделкой</div>
					<div class="urban-wrap-box4__text6">5 000 974 500 ₽</div>
					<div class="urban-wrap-box4__img1"></div>
					<div class="urban-wrap-box4__img2"></div>
					<div class="urban-wrap-box4__img3"></div>
					<div class="urban-wrap-box4__img5"></div>
				</div>
				<div class="urban-wrap-box5">
					<div class="urban-wrap-box5__text1">Дом “Весна”</div>
					<div class="urban-wrap-box5__text2">ул. Заречная, 120, Екатеринбург</div>
					<div class="urban-wrap-box5__text3">100 м2</div>
					<div class="urban-wrap-box5__text5">с отделкой</div>
					<div class="urban-wrap-box5__text6">6 120 412 500 ₽</div>
					<div class="urban-wrap-box5__img1"></div>
					<div class="urban-wrap-box5__img2"></div>
					<div class="urban-wrap-box5__img3"></div>
					<div class="urban-wrap-box5__img5"></div>
				</div>
				<!--  -->
				<div class="urban-wrap-box6">
					<div class="urban-wrap-box6__text1">Дом “Пионер”</div>
					<div class="urban-wrap-box6__text2">ул. Карла Маркса, 120, Екатеринбур</div>
					<div class="urban-wrap-box6__text3">90 м2</div>
					<div class="urban-wrap-box6__text5">с отделкой</div>
					<div class="urban-wrap-box6__text6">3 120 000 500 ₽</div>
					<div class="urban-wrap-box6__img1"></div>
					<div class="urban-wrap-box6__img2"></div>
					<div class="urban-wrap-box6__img3"></div>
					<div class="urban-wrap-box6__img5"></div>
				</div>
				<div class="urban-wrap-box4">
					<div class="urban-wrap-box7__text1">Дом “Манхетен”</div>
					<div class="urban-wrap-box7__text2">ул. Московская, 10, Екатеринбург</div>
					<div class="urban-wrap-box7__text3">87 м2</div>
					<div class="urban-wrap-box7__text5">с отделкой</div>
					<div class="urban-wrap-box7__text6">6 000 456 000 ₽</div>
					<div class="urban-wrap-box7__img1"></div>
					<div class="urban-wrap-box7__img2"></div>
					<div class="urban-wrap-box7__img3"></div>
					<div class="urban-wrap-box7__img5"></div>
				</div>
				<div class="urban-wrap-box8">
					<div class="urban-wrap-box8__text1">Дом “Дружба”</div>
					<div class="urban-wrap-box8__text2">ул. Прашина, 60, Екатеринбург</div>
					<div class="urban-wrap-box8__text3">50 м2</div>
					<div class="urban-wrap-box8__text5">с отделкой</div>
					<div class="urban-wrap-box8__text6">4 012 400 500 ₽</div>
					<div class="urban-wrap-box8__img1"></div>
					<div class="urban-wrap-box8__img2"></div>
					<div class="urban-wrap-box8__img3"></div>
					<div class="urban-wrap-box8__img5"></div>
				</div>
				<!--  -->
				<div class="urban-wrap-box9">
					<div class="urban-wrap-box9__text">Смотреть больше</div>
					<div class="urban-wrap-box9__img"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  5   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="section-general">
		<div class="wrapper">
			<h2 class="title">Генплан</h2>
			<p class="section-general__text">На генплане вы можете посмотреть территорию покупки. В поселке все предусмотрено. Здесь проведены необходимые коммуникации.Это место влюбляет в себя.</p>
			<div class="general-box">
				<div class="general-box__text1">Загородные дома</div>
				<div class="general-box__text2">Городские квартиры</div>
				<div class="general-box__item1"></div>
			</div>
		</div>
		<div class="general-map">
			<p class="general-map__text1">Дом 23</p>
			<p class="general-map__text2">Дом 56<br><span>Вы можете приобрести<br>10 567 457руб</span></p>
			<p class="general-map__text3">Дом 234</p>
			<p class="general-map__text4">Дом 116</p>
			<p class="general-map__text5">школа №27</p>
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  6   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="section-about">
		<div class="wrapper">
			<h2 class="title">О компании</h2>
			<p class="section-about__text">Профессиональный оператор рынка элитной недвижимости с 2008 года.<br>HOMEFOR – это сочетание репутации, многолетнего опыта и высокого уровня сервиса. Компания заслужила доверие и признание профессиональных участников рынка </p>
			<ul class="about-list">
				<li class="about-list__item">
					<p class="about-list__sketch"></p>
					<p class="about-list__text">Большой опыт в&nbsp;строительстве</p>
				</li>
				<li class="about-list__item">
					<p class="about-list__price-2"></p>
					<p class="about-list__text">Доступные цены</p>
				</li>
				<li class="about-list__item">
					<p class="about-list__time"></p>
					<p class="about-list__text">Оперативные сроки работы</p>
				</li>
				<li class="about-list__item">
					<p class="about-list__quality"></p>
					<p class="about-list__text">Качественные материалы</p>
				</li>
			</ul>
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ///////////////////////////   S E C T I O N  7   ///////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	<section class="section-news">
		<div class="wrapper">
			<h2 class="title">Наши новости</h2>
			<p class="section-news__text">Узнай новости компании первым. Мы всегда остаемся в тренде.</p>
			<div class="suburban-wrap-box2">
				<div class="suburban-wrap-box2__item1"></div>
				<div class="suburban-wrap-box2__item2"></div>
				<div class="suburban-wrap-box2__img1 arrowleft"></div>
				<div class="suburban-wrap-box2__img2 arrowright"></div>
			</div>
			<!--  -->
			<div class="slider2">
				<div>
					<div class="news-list-item news-list__img1 textWhite">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn-white">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img2">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img3">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img2">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img3">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img2">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img3">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
				<div>
					<div class="news-list-item news-list__img2">
						<p class="news-list-item__data">02.04.2020</p>
						<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
							и усиления контроля </p>
						<button class="news-list-item__btn">Смотреть больше</button>
					</div>
				</div>
			 </div>
			<!--  -->
			<!-- <ul class="news-list">
				<li class="news-list-item news-list__img1 textWhite">
					<p class="news-list-item__data">02.04.2020</p>
					<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
						и усиления контроля </p>
					<button class="news-list-item__btn-white">Смотреть больше</button>
				</li>
				<li class="news-list-item news-list__img2">
					<p class="news-list-item__data">02.04.2020</p>
					<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
						и усиления контроля </p>
					<button class="news-list-item__btn">Смотреть больше</button>
				</li>
				<li class="news-list-item news-list__img3">
					<p class="news-list-item__data">02.04.2020</p>
					<p class="news-list-item__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
						и усиления контроля </p>
					<button class="news-list-item__btn">Смотреть больше</button>
				</li>
			</ul> -->
		</div>
	</section>
	<!-- -------------------------------------------------------------------------- -->
	<!-- ////////////////////////////////////////////////////////////////////////// -->
	<!-- -------------------------------------------------------------------------- -->
	@@include("../blocks/modules/footer/footer.html")
	<!--  -->
	
<!--  -->
	<script>
		function fun1() {
			var rng1=document.getElementById('r1'); //rng - это ползунок
			var i1=document.getElementById('i1'); // i1 - input
			i1.value=Math.floor(rng1.value*2.794);
			//------------------------------------------------------------
			var div1=document.getElementById('line1'); // div - блок line1
			div1.style.width=rng1.value+'px';
		}
		function fun2() {
			var rng2=document.getElementById('r2'); //rng - это ползунок
			var i2=document.getElementById('i2'); // i1 - input
			i2.value=Math.floor(rng2.value*273.744);
			//------------------------------------------------------------
			var div2=document.getElementById('line2'); // div - блок line1
			div2.style.width=rng2.value+'px';
		}
	</script>
	<!--  -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js"></script>
	
	<script>
		$('.slider1').slick({
			dots: true,
				prevArrow: $('.suburban-wrap-box2__img1'),
				nextArrow: $('.suburban-wrap-box2__img2'),
			infinite: false,
			speed: 300,
			slidesToShow: 3,
			slidesToScroll: 1,
			responsive: [
				{
					breakpoint: 1201,
					settings: {
					slidesToShow: 2,
					slidesToScroll: 1
					}
				},
				{
					breakpoint: 961,
					settings: {
					slidesToShow: 1,
					slidesToScroll: 1
					}
				}
			]
		});
		$('.slider2').slick({
			dots: true,
				prevArrow: $('.arrowleft'),
				nextArrow: $('.arrowright'),
			infinite: false,
			speed: 300,
			slidesToShow: 3,
			slidesToScroll: 1,
			responsive: [
				{
					breakpoint: 1446,
					settings: {
					slidesToShow: 2,
					slidesToScroll: 1
					}
				},
				{
					breakpoint: 961,
					settings: {
					slidesToShow: 1,
					slidesToScroll: 1
					}
				}
			]
		});
	</script>
	<!--  -->
	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</div>
</body>

</html>